<?xml version="1.0" ?>
<robot name="makerspet_loki" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="params.xacro" />
  <xacro:include filename="inertial.xacro" />
  <xacro:include filename="plugins.xacro" />
  <xacro:include filename="materials.xacro" />

  <!-- ****************** **************** ****************** -->

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${floor_clearance}" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 ${lower_cylinder_height/2}" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${lower_cylinder_height}" radius="${base_diameter/2}"/>
      </geometry>
      <material name="white"/>
    </visual>

    <collision>
      <origin xyz="0 0 ${lower_cylinder_height/2}" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${lower_cylinder_height}" radius="${base_diameter/2}"/>
      </geometry>
    </collision>

    <xacro:solid_cylinder_inertia m="${lower_cylinder_mass}" r="${base_diameter/2}" h="${lower_cylinder_height}"/>
  </link>

  <joint name="caster_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_link"/>
    <origin xyz="${base_diameter/2-caster_inset} 0 ${caster_diameter/2-floor_clearance}" rpy="0 0 0"/>
  </joint>

  <link name="caster_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="${caster_diameter/2}"/>
      </geometry>
      <material name="white"/>
    </visual>

   <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="${caster_diameter/2}"/>
      </geometry>
    </collision>

    <xacro:solid_sphere_inertia m="${caster_mass}" r="${caster_diameter/2}"/>
  </link>

  <joint name="wheel_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin xyz="0 ${wheel_base/2} ${wheel_diameter/2-floor_clearance}" rpy="-${pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="wheel_left_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_diameter/2}"/>
      </geometry>
      <material name="blue"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_diameter/2}"/>
      </geometry>
    </collision>

    <xacro:solid_cylinder_inertia m="${wheel_mass}" r="${wheel_diameter/2}" h="${wheel_width}"/>
  </link>

  <joint name="wheel_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <origin xyz="0 ${-wheel_base/2} ${wheel_diameter/2-floor_clearance}" rpy="-${pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="wheel_right_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_diameter/2}"/>
      </geometry>
      <material name="blue"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_diameter/2}"/>
      </geometry>
    </collision>

    <xacro:solid_cylinder_inertia m="${wheel_mass}" r="${wheel_diameter/2}" h="${wheel_width}"/>
  </link>

  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="0 0 ${lower_cylinder_height + (lower_to_upper_cylinders_gap - laser_puck_to_upper_cylinder_gap)/2}" rpy="-${pi} 0 0"/>
  </joint>

  <link name="base_scan">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${lower_to_upper_cylinders_gap - laser_puck_to_upper_cylinder_gap}" radius="${laser_puck_diameter/2}"/>
      </geometry>
      <material name="blue"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${lower_to_upper_cylinders_gap - laser_puck_to_upper_cylinder_gap}" radius="${laser_puck_diameter/2}"/>
      </geometry>
    </collision>

    <xacro:solid_cylinder_inertia m="${laser_puck_mass}" r="${laser_puck_diameter/2}" h="${lower_to_upper_cylinders_gap - laser_puck_to_upper_cylinder_gap}"/>
  </link>

  <joint name="base_upper_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_upper_link"/>
    <origin xyz="0 0 ${lower_cylinder_height + lower_to_upper_cylinders_gap}" rpy="0 0 0"/>
  </joint>

  <link name="base_upper_link">
    <visual>
      <origin xyz="0 0 ${upper_cylinder_height/2}" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${upper_cylinder_height}" radius="${base_diameter/2}"/>
      </geometry>
      <material name="white"/>
    </visual>

    <collision>
      <origin xyz="0 0 ${upper_cylinder_height/2}" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${upper_cylinder_height}" radius="${base_diameter/2}"/>
      </geometry>
    </collision>

    <xacro:solid_cylinder_inertia m="${upper_cylinder_mass}" r="${base_diameter/2}" h="${upper_cylinder_height}"/>
  </link>

  <joint name="head_joint" type="fixed">
    <parent link="base_upper_link"/>
    <child link="head_link"/>
    <origin xyz="0 0 ${upper_cylinder_height}" rpy="0 0 0"/>
  </joint>

  <link name="head_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://makerspet_loki/mesh/head.stl" scale="${0.001*base_diameter} ${0.001*base_diameter} ${0.001*head_height*2}"/>
      </geometry>
      <material name="red"/>
    </visual>

    <collision>
      <origin xyz="0 0 ${head_height/2}" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${head_height}" radius="${base_diameter/2}"/>
      </geometry>
    </collision>

    <xacro:solid_semi_ellipsoid_inertia m="${head_mass}" x="${base_diameter/2}" y="${base_diameter/2}" z="${head_height}"/>
  </link>

  <joint name="tablet_joint" type="fixed">
    <parent link="head_link"/>
    <child link="tablet_link"/>
    <origin xyz="${base_diameter/2 - tablet_inset} 0 0" rpy="0 ${-tablet_pitch_angle*DEG2RAD} 0"/>
  </joint>

  <link name="tablet_link">
    <visual>
      <origin xyz="0 0 ${tablet_height/2}" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <box size="${tablet_width} ${tablet_height} ${tablet_thickness}"/>
      </geometry>
      <material name="dark"/>
    </visual>

   <collision>
      <origin xyz="0 0 ${tablet_height/2}" rpy="${pi/2} 0 ${pi/2}"/>
      <origin xyz="0 0 0.03905" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <box size="${tablet_width} ${tablet_height} ${tablet_thickness}"/>
      </geometry>
    </collision>

    <xacro:solid_box_inertia m="${tablet_mass}" x="${tablet_width}" y="${tablet_height}" z="${tablet_thickness}"/>
  </link>

  <joint name="color_camera_joint" type="fixed">
    <parent link="tablet_link"/>
    <child link="color_camera_link"/>
    <origin xyz="${tablet_thickness/2-color_camera_thickness} ${color_camera_inset - tablet_width/2} ${tablet_height/2}" rpy="0 0 0"/>
  </joint>

  <link name="color_camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
      <geometry>
        <cylinder length="${color_camera_thickness}" radius="${color_camera_diameter/2}"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="tablet_link"/>
    <child link="imu_link"/>
    <origin xyz="${imu_joint_dx} ${imu_joint_dy} ${imu_joint_dz+tablet_height/2}" rpy="0 0 0"/>
  </joint>

  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${imu_xlen} ${imu_ylen} ${imu_zlen}"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

</robot>
